<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.sunnibridal.matrimonial" version="0.0.8">
  <name>SunniBridal</name>
  <description>Matrimonial for sunni community</description>
  <author href="http://sunnibridal.com/" email="sunnibridal@gmail.com.com">SunniBridal</author>
  <content src="index.html"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
    <!--<preference name="SplashScreen" value="splash" />-->
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <!--<preference name="show-splash-screen-spinner" value="true"/>-->
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
<icon src="icon.png" />
    <splash src="splash.png" />
    <preference name="SplashScreen" value="splash" />
<preference name="SplashScreenDelay" value="5000" />
<preference name="ShowSplashScreenSpinner" value="true"/>
<preference name="SplashShowOnlyFirstTime" value="false" />

<plugin name="cordova-plugin-splashscreen" source="npm" />

<allow-navigation href="http://sunnibridal.com/*" />
     <!-- Core plugins -->
   <!-- <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />-->
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
<!-- <plugin name="cordova-plugin-splashscreen" /> -->
<!--<plugin name="cordova-plugin-vibration" />-->
    <plugin name="cordova-plugin-firebase" spec="0.1.24" />
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>